html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

biblioteca {
  display: table;
  border-spacing: 2px;
  border: black 1px solid;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

libro {
  display: table-row;
}

titulo, autor, fechaPublicacion {
  border: black 1px solid;
  display: table-cell;
  padding: 10px;
}
