html, body {
  min-height: 100vh;
  height: 100dvh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font:600;
}

biblioteca {
  display: table;
  border-spacing: 2px;
  border: black 1px solid;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(69, 88, 110);
  background-color: rgb(222, 224, 224);
}

libro {
  display: table-row;
}

titulo, autor, fechaPublicacion {
  border: black 1px solid;
  display: table-cell;
  padding: 10px;
}
